html {
  font-size: 10px;
}

body {
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Lato", Verdana, sans-serif;
  color: #767e9e;
}

h2 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.015rem;
  color: #666d89;
}

h3 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: -0.015rem;
  color: #666d89;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1020px;
  margin: auto;
  padding: 0 40px
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

/* contact */

.contact {
  padding: 62px 0 3px 0;
  color: #f0d8d9;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.contact__title {
  color: inherit;
}

.contact__description {
  padding-top: 21px;
  padding-bottom: 34px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: justify;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}

.contact__form {
  box-sizing: border-box;
  flex: 0 0 66.666666%;
  padding: 10px;
}

input,
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 0 8px 15px;
  margin-bottom: 16px;
  font: inherit;
  line-height: 22px;
  letter-spacing: -0.065px;
  text-align: justify;
  color: #f0d8d9;
  border-style: none;
  border-radius: 5px;
  background-color: #d6564f;
}

textarea {
  resize: none;
  height: 202px;
}

input[type=submit] {
  margin-bottom: 0;
  padding: 8px 15px;
  width: unset;
  cursor: pointer;
  color: #f0d8d9;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #f06c64;
  transition: color 0.2s linear;
}

input[type=submit]:hover {
  color: #d6564f;
}

input::placeholder,
textarea::placeholder {
  color:#f48c8f;
  opacity: 1;
}

input::-webkit-input-placeholder{
  color:#f48c8f;
}

.contact__content {
  box-sizing: border-box;
  flex: 0 0 33.333333%;
  padding: 10px;
}

.contact__text {
  padding: 10px 0 20px 0;
  text-align: justify;
  line-height: 2.2rem;
  word-spacing: -0.2rem;
}

.contact__content > h3 {
  color: inherit;
}

.contact__info {
  padding-left: 23px;
  text-align: justify;
  line-height: 2.1rem;
  background-repeat: no-repeat;
}

.contact__info_location {
  background-image: url(assets/images/contacts/location.svg);
  background-position: 3px 5px;
}

.contact__info_phone {
  background-image: url(assets/images/contacts/phone.svg);
  background-position: 1px 5px;
}

.contact__info_mail {
  background-image: url(assets/images/contacts/mail.svg);
  background-position: 0 9px;
  padding-top: 1px;
}

/* footer */

.footer {
  padding: 22px 0 20px 1px;
  background-color: #2d303a;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* pixel perfect */

.employee:nth-child(2) > .employee__image {
  margin-left: -1px;
}

.service_heart > h3,
.service_star > h3 {
  padding-left: 1px;
}

.employee:first-child .employee__description {
  letter-spacing: -0.007rem;
}

.employee:first-child .social-media {
  padding-left: 1px;
}

.service:nth-child(3) .service__content h3,
.service:nth-child(6) .service__content h3 {
  padding-left: 1px;
}
















