html {
  font-size: 10px;
}

body {
  max-width: 1020px;
  margin: 0;
  padding: 0;

  font-size: 1.8rem;
  font-family: "Lato", Verdana, sans-serif;
  color: #767e9e;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}
