html {
  font-size: 10px;
}

body {
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Lato", Verdana, sans-serif;
  color: #767e9e;
}

h2 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.015rem;
  color: #666d89;
}

h3 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: -0.015rem;
  color: #666d89;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1020px;
  margin: auto;
  padding: 0 40px
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

/* portfolio */

.portfolio {
  padding: 62px 0 56px 0;
  background-color: #2d303a;;
  border-bottom: 6px solid #323746;
}

.portfolio__description {
  padding-top: 21px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: justify;
}

.portfolio__tags {
  padding: 11px 0 10px 0;
}

.portfolio__tag {
  display: inline-block;
  padding: 0 7px;
  vertical-align: middle;
  border: 1px solid #666d89;
  border-radius: 5px;
  margin-right: 10px;
  line-height: 2rem;
  letter-spacing: -0.039rem;
  transition: all 0.2s linear;
}

.portfolio__tag:hover {
  cursor: pointer;
  color: #dedede;
  border-color: #dedede;
}

.layout-3-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  overflow: hidden;
}

.portfolio__item {
  flex: 0 0 22.916666%;
  margin: 9px auto;
  transition: all 0.2s linear;
}

.portfolio__item:hover {
  transform: scale(1.1);
}

.portfolio__item > img {
  width: 100%;
  max-width: 220px;
}

 /* about */

.about {
  padding: 62px 0 65px 0;
  background-color: #f2f2f2;;
  border-bottom: 6px solid #ffffff;
}

.about__description {
  padding-top: 21px;
  padding-bottom: 45px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  text-align: justify;
}

.employee {
  flex: 0 0 31.25%;
  max-width: 31.25%;
  margin: 0 auto;
}

.employee__image {
  width: 100%;
  max-width: 300px;
}

.employee__content {
  padding-top: 15px;
  min-width: 0;
}

.employee__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.employee__description {
  padding: 10px 0 24px 0;
  text-align: justify;
  line-height: 2.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social-media__link {
  display: inline-block;
  margin-right: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #666d89;
  transition: all 0.5s linear;
}

.social-media__link:last-child {
  margin-right: 0;
}

.social-media__link:hover {
  transform: scale(1.1) rotate(360deg);
}

.social-media_fb {
  background: url(assets/images/social/facebook.svg) no-repeat center;
}

.social-media_g {
  background: url(assets/images/social/google+.svg) no-repeat center;
}

.social-media_tw {
  background: url(assets/images/social/twitter.svg) no-repeat center;
}

.social-media_in {
  background: url(assets/images/social/linkedin.svg) no-repeat center;
}



/* pixel perfect */

.employee:nth-child(2) > .employee__image {
  margin-left: -1px;
}

.service_heart > h3,
.service_star > h3 {
  padding-left: 1px;
}

.employee:first-child .employee__description {
  letter-spacing: -0.007rem;
}

.employee:first-child .social-media {
  padding-left: 1px;
}

.service:nth-child(3) .service__content h3,
.service:nth-child(6) .service__content h3 {
  padding-left: 1px;
}
















